{% extends 'base.html.twig' %}

{% block title %}Hello EditController!
{% endblock %}

{% block body %}
	<section class="form">
		<div class="container">
			<div class="form-container">
				<h2>Créer un compte</h2>

				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn">S'inscrire</button>
				{{ form_end(form) }}

				<p>Vous avez déjà un compte ?
					<a href="{{ path('app_login') }}">Se connecter</a>
				</p>
			</div>
		</div>
	</section>
{% endblock %}
