{% extends 'base.html.twig' %}

{% block title %}Hello ResetPasswordController!
{% endblock %}

{% block body %}
	<section class="form">
		<div class="container">
			{{ form_start(resetForm) }}
			{{ form_widget(resetForm) }}
			<button type="submit" class="btn">S'inscrire</button>
			{{ form_end(resetForm) }}
		</div>
	</section>

{% endblock %}
