@font-face {
    font-family: 'Aller';
    src: url('../../fonts/Aller/Aller_BdIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../../fonts/Exo/static/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}