@use '../abstracts/variables' as *;

.beatmap {
    .container {
        color: $color-accent;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            input {
                background-color: $primary-color;
                padding: 15px;
            }
        }

        .card_list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }

        .beatmap_card {
            background-color: $primary-color;
            border-radius: 15px;
            text-align: center;
            padding: 10px;
        }
    }
}