@use '../abstracts/variables' as *;

.beatmap {
    .container {
        color: $color-accent;

        .empty_map {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 40px 0;

            input {
                background-color: $primary-color;
                padding: 15px;
                border: 1px solid rgba(255, 255, 255, 0.219);
                border-radius: 5px;
            }

            button {
                border: 1px solid rgba(255, 255, 255, 0.219);
            }
        }

        .card_list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);

            }
        }

        .beatmap_card {
            background-color: $primary-color;
            border-radius: 15px;
            text-align: center;
            padding: 10px;
            padding-bottom: 15px;
            position: relative;
            overflow: hidden;

            .card_img {
                object-fit: cover;
                width: 100%;
            }

            .beatmap_btn {
                position: absolute;
                bottom: 1px;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                gap: 50px;
                max-height: 30px;
                background-color: $secondary-color;
                overflow: hidden;

                img {
                    height: 2vh;
                    cursor: pointer;
                    transition: 1s ease;
                }

                button {
                    background: none;
                    border: none;
                }

                button,
                a {
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 5px;
                    transition: transform 0.2s;
                    border-radius: 100%;

                    &:hover {
                        transform: scale(1.15);
                        background-color: #be95ca;
                    }
                }

            }
        }
    }
}